<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/sudoku-client.js"></script>
  </head>
  <% function table(i, j) {

  }
  %>
  <body>
    <center>
      <h1>* <%= title %> *</h1>
    </center>    
    <p id="sudoku">
      <center>
        <table class="square">
          <tr>
            <td id="opciones" width="600">              
              <p>Selecciona las opciones para resolver el sudoku</p>
              <form id="options">
                Selecciona la dificultad
                <br /><br />
                <input type="radio" class="nivel" name="dificultad" value="1" id="facil" required />
                <label for="facil">
                  Facil
                </label>
                <br />
                <input type="radio" class="nivel" name="dificultad" value="2" id="intermedio" required />
                <label for="intermedio">
                  Intermedio
                </label>
                <br /><br />
                <input type="button" id="Cambiar" value="Cambiar sudoku" disabled>
                <br /><br />
                Selecciona el algoritmo a utilizar
                <br /><br />
                <input type="radio" name="algoritmo" value="1" id="astar" required />
                <label for="facil">
                    A*
                </label>
                <br />
                <input type="radio" name="algoritmo" value="2" id="satrest" required />
                <label for="intermedio">
                  Satisfacción de Restricciones (Forward Checking)
                </label>
                <br />
                <input type="radio" name="algoritmo" value="3" id="geneticos" required />
                <label for="intermedio">
                  Algoritmos Geneticos
                </label>
                <p id="msg" class="Warning invisible">
                  ESTE ALGORITMO NO CONVERGE A LA SOLUCION.
                  SE MOSTRARA EL SUDOKU CON MEJOR FITNESS ANTES DE
                  QUEDARSE ATASCADO EN UN MÍNIMO LOCAL.                  
                  <p class="Warning invisible" id="comm"></p>
                </p>                
                <input type="checkbox" id="Reduccion" name="reduccion" value="1"/>Reducción de espacio de estados
                <br /><br />
                <input type="button" id="Resolver" value="Resolver">
                <input type="reset" id="Borrar" value="Borrar Todo" class="invisible">
                <br /><br />
              </form>
            </td>
            <td id="puzzle">
              <center>
                  <table class="puzzle">
                  <br />
                  <% for (var i = 0; i < 3; i++) { %>
                    <tr class="puzzle">
                    <% for(var j = 0; j < 3; j++){ %>
                        <td class="puzzle">
                          <table class="inner">
                            <% for(var k = 0; k< 3; k++){ %>
                              <tr>
                              <% for (var l = 0; l < 3; l++){ %>
                                <td class="data" align="center" id="data<%= (i * 3) + k %><%= (j * 3) + l %>">
                                
                                </td>
                              <% } %>
                              </tr>
                            <% } %>
                          </table>
                      </td>
                    <% } %>
                    </tr>
                  <% } %>
                </table>
                <br /><br />              
                <a href="/javascripts/sudoku.json" target="_blank">Ver archivo de entrada</a>
                <br />
                <a href="/javascripts/log.txt" target="_blank">Ver archivo de salida (logs)</a>
              </center>
              <br />              
            </td>
          </tr>
        </table>
      </center>
      <br />
      <center>
        <table class="square">
          <td width="300">
            <center>
              Tiempo Utilizado: <p id="Tiempo"><em>-</em></p>
            </center>            
          </td>
          <td td width="300">
            <center>
              Memoria Utilizada: <p id="Memoria"><em>-</em></p>
            </center>
          </td>
        </table>
      </center>      
    </p>
  </body>
</html>
