@font-face {
  font-family: puzzle;
  src: url("/fonts/Shojumaru-Regular.ttf");
} 

@font-face {
  font-family: body;
  src: url("/fonts/Japonesa.ttf");
} 

h1 {
  font-size:42px;
}

body {
/*  padding: 50px;*/
/*  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
/*  color: white;*/
  cursor:url("/images/cursor.png");
  font-family: body;
  background: url('/images/background.jpg');
  background-size:100%;
}

a {
  color: #00B7FF;
}

.square {
  background-color:rgba(0, 0, 0, 0.5);
  padding-right:15px;
  color:white;
  height: 65px;
  width:75%;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

#opciones{
  vertical-align:top;
  padding-left:15px;
}

#puzzle{
  vertical-align:top;
}

.puzzle{
  border-collapse:collapse;
  border: 3px solid #991C1C;
/*  border: 3px solid black;*/
}

.inner {
/*  background-color:#991C1C;*/
  background-color:black;
}

.data {
  width:25px;
  height:25px;
  font-family: puzzle;
  color:black;
  background: url("/images/sudoku.jpg")
}

input {
  padding-top:3px;
  padding-bottom:1px;
  font-family: body;
  background: url("/images/sudoku.jpg")
}

.invisible {
    display: none;
}

.busy {
  cursor:wait;
}

.Warning {
  height: 40px;
  color: pink;
}
